{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
   <div class="center jumbotron">
       <div class="text-center">
           <h1>My Gallery</h1>
       </div>
	   {# Galleryモデルの画像を表示する部分#}
       <div>
           {% for item in object_list %}
               <img class="rounded img-fluid mx-auto d-inline"
                   src="{{ item.photo.url }}" id="gallary-thumbnail" alt="gallary-thumbnail">                
           {% endfor %}
       </div>
       {# Galleryモデルの画像を表示する部分ここまで #}
   </div>

   {# Dropzone.jsを用いたドラッグ＆ドロップ領域の設定 #}
   <form action="{% url 'myposts:add_file' %}" method="post" class="dropzone dz" id="my-dropzone">
           {% csrf_token %}
           <div class="fallback">
               <input name="file" type="file" multiple/>
           </div>
   </form>
   {# Dropzone.jsを用いたドラッグ＆ドロップ領域の設定 ここまで#}
{% endblock %}